<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Style/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Assets/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Style/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Style/css/main.css">





</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="@Url.Action("Index", "Home")" class="h-100 d-inline-block" style="color:black; font-weight:bolder; font-family:'Comic Sans MS'; text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);"><h1>Fresh Fish</h1></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 center-block">
                <li class="nav-item p-2 h4 font-weight-bold ">
                    <a href="@Url.Action("Index", "Home")" style="color:black; margin-right:15px; font-size:15px;" class="text-monospace text-primary">Home</a>
                </li>
                <li class="nav-item p-2 h4 font-weight-bold">
                    <a href="@Url.Action("Index", "Fish")" style="color:black; margin-right:15px; font-size:15px;" class="text-monospace text-success">Fish</a>
                </li>
                <li class="nav-item p-2 h4 font-weight-bold">
                    <a href="@Url.Action("Index", "FishSeed")" style="color:black; margin-right:15px; font-size:15px;" class="text-monospace text-danger">Fish Seeds</a>
                </li>
                <li class="nav-item p-2 h4 font-weight-bold">
                    <a href="@Url.Action("Index", "LocateVan")" style="color:black; margin-right:15px; font-size:15px;" class="text-monospace text-primary">Locate Van</a>
                </li>
                <li class="nav-item p-2 h4 font-weight-bold">
                    <a href="@Url.Action("Index", "AboutUs")" style="color:black; margin-right:15px; font-size:15px;" class="text-monospace text-success">About Us</a>
                </li>
                <li class="nav-item p-2 h4 font-weight-bold">
                    <a href="@Url.Action("Index", "ContactUs")" style="color:black; margin-right:15px; font-size:15px;" class="text-monospace text-danger">Contact Us</a>
                </li>
            </ul>
            <a href="@Url.Action("Index", "Cart")"><i class="nav-item p-2 h4 fa fa-fw fa-shopping-cart font-weight-bold align-content-sm-end" style="margin-right:15px;"></i></a>
            <a href="@Url.Action("Index", "Profile")"><i class="nav-item p-2 h4 fa fa-fw fa-user font-weight-bold align-content-sm-end" style="margin-right:15px;"></i></a>



            <form class="form-inline my-2 my-lg-0">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn-btn" type="button"><a href="#"><i class="fa fa-fw fa-search"></i></a></button>
            </form>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>