<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link href="~/Style/css/bootstrap.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="~/Assets/images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="~/Style/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Style/css/main.css">

</head>

<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand font-weight-bold font-italic h-100 d-inline-block" href="#"><h1>Fresh Fish</h1></a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item p-2 h4 font-weight-bold border-right">				
					@Html.ActionLink("Home", "Index", "Home")
				</li>
				<li class="nav-item p-2 h4 font-weight-bold border-right">					
					@Html.ActionLink("Buy Fish", "Index", "Fish")
				</li>
				<li class="nav-item p-2 h4 font-weight-bold border-right">					
					@Html.ActionLink("Fish Seeds", "Index", "FishSeed")
				</li>
				<li class="nav-item p-2 h4 font-weight-bold border-right">					
					@Html.ActionLink("Locate Van", "Index", "LocateVan")
				</li>		
				<li class="nav-item p-2 h4 font-weight-bold border-right">					
					@Html.ActionLink("About Us", "Index", "AboutUs")
				</li>
				<li class="nav-item p-2 h4 font-weight-bold">					
					@Html.ActionLink("Contact Us", "Index", "ContactUs")
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-success" type="button">Search</button>
				</div>
			</form>
		</div>
	</nav> 

	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</body>
</html>